@model BankResource

@{
    ViewData["Title"] = "Details";
}

<hr />
<div class="card mb-3">
    <div class="card-header">
        <h5>Details</h5>
    </div>
    <div class="card-body">
        <h4 class="card-title">Bank</h4>
        <div class="d-flex">
            <div class="col">
                <p class="card-text fw-bold">Name</p>
            </div>
            <div class="col-auto">
                <p class="card-text">@Model.Name</p>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    @await Component.InvokeAsync("BankBranches", new { bankId = @Model.Id })
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit Bank</a> |
    <a asp-action="Index">Return</a>
</div>
