@{

}


<div class="d-flex bd-highlight mb-3">
    <div class="ms-auto p-2 bg-light">
        <h1>Quote</h1>
        <dl class="row">
            <dt class="col-sm-5">
                Date:
            </dt>
            <dd class="col-sm-7">
                14/07/2021
            </dd>
            <dt class="col-sm-5">
                Quote Number:
            </dt>
            <dd class="col-sm-7">
                1
            </dd>
        </dl>
    </div>
</div>
<div class="d-md-flex justify-content-md-end">
    <div class="form-group">
        <a asp-controller="Quotes" asp-action="Create" asp-route-portfolioId="@ViewBag.PortfolioId" class="btn btn-primary" type="button">Create Quote</a>
    </div>
</div>
<div class="p-2 bg-light mb-3">
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#allRiskModal">All Risks</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#contentModal">Contents</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#houseModal">House</button>
    <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#motorModal">Motor</button>

</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <h6><strong>Description</strong></h6>
        </div>
        <div class="col-md-4">
            <h6><strong>Cover Type</strong></h6>
        </div>
        <div class="col-md-2">
            <h6><strong>Sum Insured</strong></h6>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    @for (int i = 0; i < 4; i++)
    {
        <div class="row">
            <div class="col-md-6">
                <p>Description</p>
            </div>
            <div class="col-md-4">
                <p>Cover Type</p>
            </div>
            <div class="col-md-2">
                <p>Sum Insured</p>
            </div>
        </div>
    }
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="allRiskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="allRiskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="allRiskModalLabel">
                        All Risks
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>All Risks Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="contentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="contentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="contentModalLabel">
                        Contents
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Content Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <!-- Modal -->
    <div class="modal fade" id="houseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="houseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="houseModalLabel">
                        House
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>House Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <!-- Modal -->
    <div class="modal fade" id="motorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="motorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="motorModalLabel">
                        Motor
                    </span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Motor Details</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMotor" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
