@{ 
    ViewData["Title"] = "Quotation";
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<div class="container mt-3 w-75">
    <div class="row justify-content-around">
        <div class="col">
            <div class="col-8 px-0">
                <img src="~/images/SmallLogo.png" class="img-fluid rounded float-start" alt="Company Logo">
            </div>
            
        </div>
        <div class="col text-end">
            <p class="fs-1 font-weight-bolder pt-3">Quote</p>
        </div>
    </div>
    <div class="row justify-content-around mb-3">
        <div class="col">
            <p>[Street Address]</p>
            <p>[City, State, ZIP Code]</p>
            <p>[Phone]</p>
            <p>[Email Address]</p>
            <p>[Company Website]</p>
        </div>
        <div class="col text-end">
            <p>Date: 31/07/2021</p>
            <p>Invoice #: [######]</p>
            <p>Due Date: 31/07/2021</p>
        </div>
    </div>
    <div class="row justify-content-around mb-3">
        <div class="col">
            <p class="p-2 bg-primary text-white">BILL TO</p>
            <p>[Recipient Name]</p>
            <p>[Company Name]</p>
            <p>[Street Address]</p>
            <p>[City, State, ZIP Code]</p>
            <p>[Phone]</p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <p class="p-2 bg-primary text-white">SHIP TO</p>
            <p>[Recipient Name]</p>
            <p>[Company Name]</p>
            <p>[Street Address]</p>
            <p>[City, State, ZIP Code]</p>
            <p>[Phone]</p>
        </div>
    </div>
    <div class="row g-2">
        <div class="col-sm-6 col-md-8 mt-3">
            <p class="p-2 bg-primary text-white">COMMENTS</p>
            <p>1. Payment due in 30 days</p>
            <p>2. Please note the invoice number in your payment method</p>
            <br />
            <p>Banking and wire transfer informatoin may also be included here</p>
        </div>
        <div class="col-6 col-md-4 text-end">
            <p>Subtotal [$#,###.##]</p>
            <p>Tax [$#,###.##]</p>
            <p>Total [$#,###.##]</p>
            <br />
            <p class="fw-bold">Thank you for your business!</p>
        </div>
    </div>
</div>