@model ClientSaveResource

<div class="row">
    <div class="form-group">
        <label asp-for="PhysicalAddress" class="control-label"></label>
        <textarea asp-for="PhysicalAddress" class="form-control"></textarea>
        <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="PostalAddress" class="control-label"></label>
            <textarea asp-for="PostalAddress" class="form-control"></textarea>
            <span asp-validation-for="PostalAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label name="AddressCountryId" class="control-label"></label>
            <select name="AddressCountryId" id="Country" class ="form-control" asp-items="Model.AddressCountryList"></select>
        </div>
        <div class="form-group">
            <label asp-for="CityId" class="control-label"></label>
            <select asp-for="CityId" class ="form-control" asp-items="Model.CityList"></select>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#Country').change(function () {
            var selectedCountryId = $('#Country option:selected').val();

            if (selectedCountryId != null && selectedCountryId != '') {
                $.ajax({
                    url: '@(Url.Action("GetCities", "Cities"))',
                    traditional: true,
                    dataType: 'json',
                    type: 'GET',
                    data: { countryId: selectedCountryId },
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (cities) {

                        $('#CityId').empty();   // clear before appending new list
                        $.each(cities, function (index, city) {
                            $('#CityId').append($('<option></option>').val(city.id).html(city.name));
                        });
                    }
                });
            }
        });    
    });

</script>