@model PortfolioClientSaveResource

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="form-group">
                <label asp-for="PhysicalAddress" class="control-label"></label>
                <input asp-for="PhysicalAddress" class="form-control" />
                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="PostalAddress" class="control-label"></label>
                    <input asp-for="PostalAddress" class="form-control" />
                    <span asp-validation-for="PostalAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="AddressCountryId" class="control-label"></label>
                    <select asp-for="AddressCountryId" id="Country" class ="form-select" asp-items="Model.AddressCountryList"></select>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="CityId" class="control-label"></label>
                    <select asp-for="CityId" class ="form-select" asp-items="Model.CityList"></select>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        $('#Country').change(function () {
            var selectedCountryId = $('#Country option:selected').val();

            if (selectedCountryId != null && selectedCountryId != '') {
                $.ajax({
                    url: '@(Url.Action("GetCities", "Cities"))',
                    traditional: true,
                    dataType: 'json',
                    type: 'GET',
                    data: { countryId: selectedCountryId },
                    error: function () {
                        alert("An error occurred.");
                    },
                    success: function (cities) {

                        $('#CityId').empty();   // clear before appending new list
                        $.each(cities, function (index, city) {
                            $('#CityId').append($('<option></option>').val(city.id).html(city.name));
                        });
                    }
                });
            }
        });    
    });

</script>