@model AddressViewModel

@{
    ViewData["Title"] = "Portfolio Name";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>Client Name</h4>
<hr />
<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="PortfolioId" />
            <div class="card mb-3">
                <h5 class="card-header">Edit Address</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="PhysicalAddress" class="control-label"></label>
                            <input asp-for="PhysicalAddress" class="form-control" >
                            <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="PostalAddress" class="control-label"></label>
                                <input asp-for="PostalAddress" class="form-control" />
                                <span asp-validation-for="PostalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="CountryId" class="control-label"></label>
                                <select asp-for="CountryId" class ="form-control" asp-items="Model.CountryList"></select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label asp-for="CityId" class="control-label"></label>
                                <select asp-for="CityId" class ="form-control" asp-items="Model.CityList"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-secondary" />
                    </div>
                </div>
            </div>
        </form>
        <div>
            <a asp-controller="PortfolioClients" asp-action="Details" asp-route-portfolioId="@Model.PortfolioId" asp-route-clientId="@Model.ClientId"><i class="far fa-arrow-alt-circle-left"></i> Return</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    
        $(document).ready(function () {
            $('#CountryId').change(function () {
                var selectedCountryId = $('#CountryId option:selected').val();

                if (selectedCountryId != null && selectedCountryId != '') {
                    $.ajax({
                        url: '@(Url.Action("GetCities", "Cities"))',
                        traditional: true,
                        dataType: 'json',
                        type: 'GET',
                        data: { countryId: selectedCountryId },
                        error: function () {
                            alert("An error occurred.");
                        },
                        success: function (cities) {

                            $('#CityId').empty();   // clear before appending new list
                            $.each(cities, function (index, city) {
                                $('#CityId').append($('<option></option>').val(city.id).html(city.name));
                            });
                        }
                    });
                }
            });    
        });

    </script>
}
