@model ClientDocumentSaveResource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Client Documents</h1>

<h4>Upload File Here</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-route-clientId="@Model.ClientId" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClientId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" placeholder="Enter File Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentTypeId" class="control-label"></label>
                <select asp-for="DocumentTypeId" class="form-control" asp-items="@Model.DocumentTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" required />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-clientId="@Model.ClientId">Back to List</a>
</div>

