@model IEnumerable<PortfolioViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger mb-3">Tilbake</h1>

    @if (Model.Any())
    {
        <p class="fw-bolder">The following are portfolios assigned to the current user</p>
        <ol class="list-group list-group-numbered">
            @foreach (var item in Model)
            {
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <a asp-controller="Portfolios" asp-action="Carousel" asp-route-portfolioId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </div>
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
                <span class="badge bg-primary rounded-pill">@Html.DisplayFor(modelItem => item.TotalClients)</span>
            </li>
            }
        </ol>
    }
    else
    {
        <p class="text-danger">Logged in user does not have any assigned portfolios.</p>
    }
</div>
