@model ClaimGiroViewModel
@using Tilbake.Core.Enums
@{
    ViewData["Title"] = "Claim File Template";
}

<h1>Claim FileTemplate</h1>

<span class="d-block p-2 bg-primary text-white">@Model.PortfolioName - @Model.FileTemplate - @Model.TableName</span>
<br />

<div class="d-flex justify-content-center">
    <div class="col-md-9">
        <form asp-action="ClaimFileTemplate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PortfolioId" />
            <input type="hidden" asp-for="FileTemplateId" />
            <input type="hidden" asp-for="TableName" />
            <input type="hidden" asp-for="ClaimNumberId" />
            <input type="hidden" asp-for="ReportDateId" />
            <input type="hidden" asp-for="IncidentDateId" />
            <input type="hidden" asp-for="RegisterDateId" />
            <input type="hidden" asp-for="ReserveInsuredId" />
            <input type="hidden" asp-for="ReserveThirdPartyId" />
            <input type="hidden" asp-for="ExcessId" />
            <input type="hidden" asp-for="RecoverFromThirdPartyId" />
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label for="Field" class="control-label"><strong>Field Name</strong></label>
                </div>
                <div class="col-sm-3">
                    <label for="Position" class="control-label"><strong>Position</strong></label>
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <label for="Length" class="control-label">Length</label>
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="ClaimNumberFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="ClaimNumberPosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="ClaimNumberColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="ReportDateFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="ReportDatePosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="ReportDateColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="IncidentDateFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="IncidentDatePosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="IncidentDateColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="RegisterDateFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="RegisterDatePosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="RegisterDateColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="ReserveInsuredFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="ReserveInsuredPosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="ReserveInsuredColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="ReserveThirdPartyFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="ReserveThirdPartyPosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="ReserveThirdPartyColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="ExcessFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="ExcessPosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="ExcessColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="row offset-sm-0">
                <div class="col-sm-4">
                    <label asp-for="RecoverFromThirdPartyFieldLabel" class="control-label"></label>
                </div>
                <div class="col-sm-3">
                    <input asp-for="RecoverFromThirdPartyPosition" class="form-control upperCase" />
                </div>
                @if (Model.FileType == FileType.FixedLengthDelimited)
                {
                    <div class="col-sm-2">
                        <input asp-for="RecoverFromThirdPartyColumnLength" class="form-control" />
                    </div>
                }
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <input type="submit" value="Update Template Definition" class="btn btn-primary" /> |
                <a asp-controller="FileTemplates" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Return</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {  
            $('input[type=text]').keyup(function () {  
                $(this).val($(this).val().toUpperCase());  
            });  
        }); 
    </script>
}