@model PremiumGiroResource
@using Tilbake.Domain.Enums
@{
    ViewData["Title"] = "Premium File Template";
}

<h1>Premium FileTemplate</h1>

<span class="d-block p-2 bg-primary text-white">@Model.Portfolio - @Model.FileTemplate - @Model.TableName</span>
<br />

<div class="row">
    <form asp-action="PremiumFileTemplate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="PortfolioId" />
        <input type="hidden" asp-for="FileTemplateId" />
        <input type="hidden" asp-for="TableName" />
        <input type="hidden" asp-for="FirstNameId" />
        <input type="hidden" asp-for="LastNameId" />
        <input type="hidden" asp-for="IdNumberId" />
        <input type="hidden" asp-for="PolicyNumberId" />
        <input type="hidden" asp-for="PremiumId" />
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label for="Field" class="control-label"><strong>Field Name</strong></label>
            </div>
            <div class="col-sm-3">
                <label for="Position" class="control-label"><strong>Position</strong></label>
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <label for="Length" class="control-label">Length</label>
                </div>
            }
        </div>
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label asp-for="FirstNameFieldLabel" class="control-label"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="FirstNamePosition" class="form-control upperCase" />
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <input asp-for="FirstNameColumnLength" class="form-control" />
                </div>
            }
        </div>
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label asp-for="LastNameFieldLabel" class="control-label"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="LastNamePosition" class="form-control upperCase" />
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <input asp-for="LastNameColumnLength" class="form-control" />
                </div>
            }
        </div>
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label asp-for="IdNumberFieldLabel" class="control-label"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="IdNumberPosition" class="form-control upperCase" />
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <input asp-for="IdNumberColumnLength" class="form-control" />
                </div>
            }
        </div>
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label asp-for="PolicyNumberFieldLabel" class="control-label"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="PolicyNumberPosition" class="form-control upperCase" />
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <input asp-for="PolicyNumberColumnLength" class="form-control" />
                </div>
            }
        </div>
        <div class="row offset-sm-0">
            <div class="col-sm-4">
                <label asp-for="PremiumFieldLabel" class="control-label"></label>
            </div>
            <div class="col-sm-3">
                <input asp-for="PremiumPosition" class="form-control upperCase" />
            </div>
            @if (Model.FileType == FileType.FixedLengthDelimited)
            {
                <div class="col-sm-2">
                    <input asp-for="PremiumColumnLength" class="form-control" />
                </div>
            }
        </div>
        <div class="form-group"></div>
        <div class="form-group">
            <input type="submit" value="Update Template Definition" class="btn btn-primary" /> |
            <a asp-controller="FileTemplates" asp-action="Index" asp-route-portfolioId="@Model.PortfolioId">Return</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {  
            $('input[type=text]').keyup(function () {  
                $(this).val($(this).val().toUpperCase());  
            });  
        }); 
    </script>
}