@model RatingMotorSaveResource

@{
    ViewData["Title"] = Model.InsurerName;
}

<h1>Create</h1>

<h4>@ViewData["Title"] Rating Motor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="InsurerId" type="hidden" />
            <div class="form-group">
                <label asp-for="StartValue" class="control-label"></label>
                <input type="number" asp-for="StartValue" class="form-control" />
                <span asp-validation-for="StartValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndValue" class="control-label"></label>
                <input type="number" asp-for="EndValue" class="form-control" />
                <span asp-validation-for="EndValue" class="text-danger"></span>
            </div>
                        <div class="form-group">
                <label asp-for="RateLocal" class="control-label"></label>
                <input type="number" asp-for="RateLocal" class="form-control" />
                <span asp-validation-for="RateLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RateImport" class="control-label"></label>
                <input type="number" asp-for="RateImport" class="form-control" />
                <span asp-validation-for="RateImport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-insurerId="@Model.InsurerId">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
