@model RatingMotorSelectResource
@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row mb-3">
    <form asp-action="Select" method="get">
        <div class="form-inline border border-warning justify-content-center">  
            <div class="form-group">
                <label asp-for="InsurerId" class="control-label" style="display: block; padding-right: 10px; text-align: right;"></label>
                <select asp-for="InsurerId" class="form-control" asp-items="Model.InsurerList"></select>
                </div>
        </div>
    </form>
</div>


@if(Model.InsurerId != Guid.Empty)
{
    @await Component.InvokeAsync("RatingMotors", new { insurerId = Model.InsurerId })

}
else
{
    <p>No rates for this Insurer</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            $('#InsurerId').on('change', function() {
                var selectedInsurerId = $("#InsurerId option:selected").val();
                if(selectedInsurerId != null && selectedInsurerId != '')
                {
                    var $form = $(this).closest('form');
                    $form.find('button[type=submit]').click();
                }
            });
        });        
    </script>    
}