@model RatingMotorSelectResource
@{
    ViewData["Title"] = "Select";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light p-5 rounded mt-3">
    <h1>Select Insurer</h1>
    <p class="lead">Rates listed per Insurer</p>
    <form asp-action="Select" method="get">
        <div class="row ">  
            <div class="form-group">
                <label asp-for="InsurerId" class="control-label"></label>
                <select asp-for="InsurerId" class="form-control" asp-items="Model.InsurerList"></select>
                </div>
        </div>
    </form>
  </div>

@if(Model.InsurerId != Guid.Empty)
{
    @await Component.InvokeAsync("RatingMotors", new { insurerId = Model.InsurerId })

}
else
{
    <p>No rates for this Insurer</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            $('#InsurerId').on('change', function() {
                
                var selectedInsurerId = $("#InsurerId option:selected").val();
                if(selectedInsurerId != null && selectedInsurerId != '')
                {
                    var $form = $(this).closest('form');
                    $form.submit();
                }
            });
        });
    </script>    
}