@{

}

<!-- AllRisk - Unspecified -->
<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="AllRiskDescription" class="control-label">Description</label>
                    <input for="AllRiskDescription" id="AllRiskDescription" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AllRiskCoverTypeId" class="control-label">Cover Type</label>
                    <select for="AllRiskCoverTypeId" id="AllRiskCoverTypeId" class="form-select" asp-items="@Model.CoverTypeList"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AllRiskSumInsured" class="control-label">Sum Insured</label>
                    <input for="AllRiskSumInsured" id="AllRiskSumInsured" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
