@model IEnumerable<ClientCarrierViewModel>

<div class="card text-center">
    <div class="card-body">
        <h6 class="card-title mb-0">Carriers</h6>
    </div>
    @if(Model.Any())
    {
        <div class="row mb-3 justify-content-md-center">
            <div class="col-md-auto">
                @foreach(var item in Model)
                {
                    <span class="badge rounded-pill bg-primary px-3">@item.Carrier.Name</span>
                }
            </div>
        </div>

    } else {
        <span class="card-text text-muted mb-0"><small>No Carriers</small></span>
    }
</div>