@model IEnumerable<ClientDocumentViewModel>

<div class="card mb-3">
    <div class="card-body">
        <h6 class="card-title mb-3">Client Documents</h6>
        @if (Model.Any())
        {
            <table class="table table-sm py-2">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in Model)
                    {
                        <tr>
                            <td>@file.Name</td>
                            <td>@file.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <div class="form-group">
            <a asp-controller="ClientDocuments" asp-action="Create" asp-route-portfolioId="@ViewBag.PortfolioId" asp-route-clientId="@ViewBag.ClientId" class="btn btn-outline-dark btn-sm"><i class="fas fa-plus"></i> New Document</a>
        </div>
    </div>
</div>