@model ClientCarrierResource

@{
    ViewData["Title"] = "Create";
}

<h1>Edit</h1>

<h4>Client Carrier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ClientId" type="hidden" />
            <input asp-for="PortfolioId" type="hidden" />
            <div class="form-group">
                <label asp-for="CarrierIds" class="control-label"></label>
                <select asp-for="CarrierIds" class="form-control form-select js-choice" id="CarrierIds" multiple="multiple" asp-items="Model.CarrierList" size="5" name="CarrierIds" data-options='{"removeItemButton":true,"placeholder":true}'>
                </select>                
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
