.tilbake-table {
  border: solid 1px #ddeeee;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font: normal 13px Arial, sans-serif;
}

.tilbake-table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
}

.tilbake-table tbody td {
  border: solid 1px #ddeeee;
  color: #333;
  padding: 10px;
}

.tilbake-table-rounded {
  border: none;
}

.tilbake-table-rounded thead th {
  background-color: #cfad70;
  border: none;
  color: #333;
}

.tilbake-table-rounded thead th:first-child {
  border-radius: 10px 0 0 0;
}

.tilbake-table-rounded thead th:last-child {
  border-radius: 0 10px 0 0;
}

.tilbake-table-rounded tbody td {
  border: none;
  border-top: solid 1px #957030;
  background-color: #eed592;
}

.tilbake-table-rounded tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

.tilbake-table-rounded tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
