@model PolicySaveResource

@{
    ViewData["Title"] = "QuoteToPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quote To Policy</h1>

<h4>Policy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="QuoteToPolicy">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuoteId" />
            <div class="form-group">
                <label asp-for="InsurerPolicyNumber" class="control-label"></label>
                <input asp-for="InsurerPolicyNumber" class="form-control" />
                <span asp-validation-for="InsurerPolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyTypeId" class="control-label"></label>
                <select asp-for="PolicyTypeId" class ="form-control" asp-items="Model.PolicyTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select asp-for="PaymentMethodId" class ="form-control" asp-items="Model.PaymentMethodList"></select>
            </div>
            <div class="form-group">
                <label asp-for="CoverStartDate" class="control-label"></label>
                <input type="date" asp-for="CoverStartDate" class="form-control" />
                <span asp-validation-for="CoverStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverEndDate" class="control-label"></label>
                <input type="date" asp-for="CoverEndDate" class="form-control" readonly />
                <span asp-validation-for="CoverEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyStatusId" class="control-label"></label>
                <select asp-for="PolicyStatusId" class ="form-control" asp-items="Model.PolicyStatusList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalesTypeId" class="control-label"></label>
                <select asp-for="SalesTypeId" class ="form-control" asp-items="Model.SalesTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // do something
        });

        function isValidDate(s) {
          var bits = s.split('/');
          var d = new Date(bits[2] + '/' + bits[1] + '/' + bits[0]);
          return !!(d && (d.getMonth() + 1) == bits[1] && d.getDate() == Number(bits[0]));
        }

        $('#CoverStartDate').change(function () {
            var startDate = $(this).val();
            alert('Start date!! ' + startDate);
        });

    </script>


}