@model PolicyViewModel

@{
    ViewData["Title"] = "Create Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="d-flex justify-content-center">
    <form asp-action="QuoteToPolicy" class="col-md-9">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="QuoteId" />
        <div class="card mb-3">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <h5>Quote Conversion</h5>
                    <h5 class="fw-bold">@Model.QuoteNumber</h5>
                </div>
            </div>

            
            <div class="card-body">
                <p class="alert-success text-muted p-2"><small>This process will convert quotation to policy</small></p>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="InsurerPolicyNumber" class="control-label"></label>
                            <input asp-for="InsurerPolicyNumber" class="form-control" />
                            <span asp-validation-for="InsurerPolicyNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="PolicyTypeId" class="control-label"></label>
                            <select asp-for="PolicyTypeId" class="form-control" asp-items="Model.PolicyTypeList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="RunDay" class="control-label"></label>
                            <select asp-for="RunDay" class="form-control" asp-items="Model.DayList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="CoverStartDate" class="control-label"></label>
                            <input type="date" asp-for="CoverStartDate" class="form-control" />
                            <span asp-validation-for="CoverStartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="CoverEndDate" class="control-label"></label>
                            <input type="date" asp-for="CoverEndDate" class="form-control" readonly/>
                            <span asp-validation-for="CoverEndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="InceptionDate" class="control-label"></label>
                            <input type="date" asp-for="InceptionDate" class="form-control" readonly/>
                            <span asp-validation-for="InceptionDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="PolicyStatusId" class="control-label"></label>
                            <select asp-for="PolicyStatusId" class="form-control" asp-items="Model.PolicyStatusList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="SalesTypeId" class="control-label"></label>
                            <select asp-for="SalesTypeId" class="form-control" asp-items="Model.SalesTypeList"></select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="PaymentMethodId" class="control-label"></label>
                            <select asp-for="PaymentMethodId" class="form-control" asp-items="Model.PaymentMethodList"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="Comment" class="control-label"></label>
                            <input asp-for="Comment" class="form-control">
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-secondary" />
                </div>                
            </div>
        </div>
    </form>
</div>

<div class="row">


</div>

<div>
    <a asp-controller="Quotes" asp-action="Details" asp-route-id="@Model.QuoteId">Return</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var startDate = '';

        $(document).ready(function () {
            startDate = new Date($('#CoverStartDate').val());
            if(startDate != '' && startDate != null)
            {
                setEndDate(startDate);
            }
        });

        $('#CoverStartDate').change(function () {
            startDate = new Date($(this).val());
            if(startDate != '' && startDate != null)
            {
                setEndDate(startDate);
            }
        });

        function setEndDate()
        {
            var year = startDate.getFullYear();
            var month = ('0' + (startDate.getMonth() + 1)).slice(-2);
            var day = ('0' + startDate.getDate()).slice(-2);

            var addYearDate = new Date(year + 1, month - 1, day);
            
            var insurerEndDate = new Date(addYearDate);
            insurerEndDate.setDate(insurerEndDate.getDate() - 1);

            var newDay = ('0' + insurerEndDate.getDate()).slice(-2);
            var newMonth = ('0' + (insurerEndDate.getMonth() + 1)).slice(-2);
            
            var formattedDate = insurerEndDate.getFullYear()+'-'+(newMonth)+'-'+(newDay);
            var formattedCurrentDate = year+'-'+(month)+'-'+(day) ;

            $('#CoverEndDate').val(formattedDate);
            $('#InceptionDate').val(formattedCurrentDate);
        }
    </script>


}