@model QuoteItemResource

@{
    ViewData["Title"] = "Quote Item";
}

<h1>Edit</h1>

<h4>Quote Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="QuoteId" />
            <input type="hidden" asp-for="ClientRiskId" />
            <div class="form-group">
                <label asp-for="CoverTypeId" class="control-label"></label>
                <select asp-for="CoverTypeId" class="form-control" asp-items="Model.CoverTypeList"></select>
                <span asp-validation-for="CoverTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="SumInsured" class="control-label"></label>
                <input asp-for="SumInsured" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Premium" class="control-label"></label>
                <input asp-for="Premium" class="form-control" />
                <span asp-validation-for="Premium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Excess" class="control-label"></label>
                <input asp-for="Excess" class="form-control" />
                <span asp-validation-for="Excess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-controller="Quotes" asp-action="Details" asp-route-id="@Model.QuoteId">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
